body{
    height: 100vh;
    background-color: rgb(18, 18, 22);
    color: white;

    display: flex;
    flex-direction: column;
}

.container{
    flex: 1;
}

.prompts,.computerChoice{
    font-size: 24px;
    text-align: center;
}

.pick{
    font-size: large;
    text-align: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

button{
    font-size: 17px;
    border: 2px solid white;
    border-radius: 7px;
    color: white;
    background-color: rgb(18, 18, 22);
    padding: 10px;
}

h1{
    color: white;
    text-align: center;
    margin-top: 44px;
}